button{
    all: unset;
}

.dropdown-container{
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid #E2E2E4 ;
    width: 52rem;
    position: absolute;
    left: 10rem;
    top: 43rem;
    z-index: 1;
}

/* dropdown hover effect */
.dropdown-container:hover{
    border: 1px solid #A4A6AB;
    cursor: pointer;
}

.dropdown-item{
    height: 14rem;
    width: 52rem;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #171719;
    padding-left: 4rem;
}

.dropdown-arrow{  
    background-image: url("./Down.svg");
    background-repeat: no-repeat;
    background-position-x: 45rem;
    background-position-y: 6.5rem;
}

.dropdown-option{
    width: 52rem;
    display: none;
}

.dropdown-option ul {
    list-style: none;
    padding:0;
    margin: 0;
  }
li.dropdown-item {
    padding-top: 5rem;
}

/* show dropdown options */
.active .dropdown-arrow{
    background-image: url("./Up.svg");
}

.active.dropdown-container{
    box-shadow: 0px 2px 3px 0px #0000001A;
}

.active .dropdown-option{
    display: block;
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.active .dropdown-item{
    border-bottom: 1px solid #E2E2E4;
}

/* option hover effect */
li.dropdown-item:hover {
    background-color:#F6F6F9 ;
}

/* option selected effect */
.selected {
    background-color: #C1C6D8 !important;;
}

.flex-conatiner{
    display: flex;
}

.reset{
    font-size: 4rem;
    line-height: 6rem;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: #2058A8;
    font-weight: normal;
    margin-left: 68rem;
    margin-top: 14rem;
}

.reset:hover{
    cursor: pointer;
}








