
.header {
    background-color: #041E42;
    height: 16rem;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #0F3263;
    color: #FFFFFF;
    box-sizing: content-box;
  }
  
  .scania-symbol {
    width: 16rem;
    display: block;
    cursor: pointer;
    background-size: 8rem auto;
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid #0F3263;
    background-image: url("\logo.png");
    margin-left: auto;
  }

  .app-title{
      margin: 6rem;
      font-weight: 700;
  }