table{
    border-spacing: 0;
    text-align: left;
}

.table-container{
    margin-top: 10rem;
    margin-left: 10rem;
}

.table-box{
    width: 44rem;
    height: 4rem;
    padding: 4rem;
}

th.table-box{
    border-bottom: 1px solid #C1C6D8;
}

td.table-box{
    border-bottom: 1px solid #E2E2E4;
}

.table-header{
    background-color: #E0E2EB;
    font-weight: 700;
}

/* style the top-right corner of the table */
th:last-child{
    border-radius: 0px 4px 0px 0px;
}

.table-row{
    background-color:#FFFFFF;
}

/* table row hover effect */
.table-row:hover{
    cursor: pointer;
    background-color: #C1C6D8;
}
